<nav>
  <div class="logoPhoto">
    <img routerLink="/login" src="../../../assets/logo3.png" alt="logoCaballeros">
  </div>
  <div *ngIf="optionsClicked==false">
    <button class="iconOptions" (click)="setTrueClick()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</nav>



<div class="optionsOpen" *ngIf="optionsClicked==true">

  <button class="fecharOptions" (click)="setfalseClick()">
    <i class="fa-solid fa-square-xmark"></i>
  </button>
  <ul class="options">
    <a routerLink="/login">Login</a>
    <a routerLink="/sobre">Sobre</a>
    <a routerLink="/agendar">Agendar</a>
    <a routerLink="/contato">Contato</a>
  </ul>

</div>
