<nav class="navbar">
  <div class="logoPhoto">
    <img routerLink="/auth/login" src="../../../assets/logo3.png" alt="logoCaballeros">
  </div>

  <div class="menuIcon" *ngIf="!optionsClicked">
    <button (click)="setTrueFalse()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div class="menuIcon" *ngIf="optionsClicked">
    <button (click)="setTrueFalse()">
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
</nav>

<nav [ngClass]="{'optionsOpen': optionsClicked==true, 'optionsClosed':optionsClicked==false}">
  <ul>
    <li (click)="setTrueFalse()">Login</li>
    <li routerLink="/cliente/sobre">Sobre</li>
    <li>
      <img class="logoPhoto" routerLink="/auth/login" src="../../../assets/logo3.png" alt="logoCaballeros">
    </li>

  </ul>
</nav>

<!-- <button class="iconOptions" (click)="setTrueClick()">

</button> -->
