<nav>
  <div class="logoPhoto">
    <img routerLink="/auth/login" src="../../../assets/logo3.png" alt="logoCaballeros">
  </div>
  <div *ngIf="optionsClicked==false">
    <button class="iconOptions" (click)="setTrueClick()">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</nav>

<div class="optionsOpen" *ngIf="optionsClicked==true">

  <button class="fecharOptions" (click)="setfalseClick()">
    <i class="fa-solid fa-x"></i>
  </button>
  <ul class="options">
    <a routerLink="/auth/login" (click)="setfalseClick()" >Login</a>
    <img routerLink="/auth/login" src="../../../assets/logo3.png" alt="logoCaballeros" (click)="setfalseClick()">
  </ul>

</div>
