* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body{
  font-family: 'Cairo', sans-serif;
  background-color: #121214;
  width: 100vw;
  height: 100vh;
  position: fixed;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
