<form [formGroup]="formEmail" (submit)="onSubmitlogin()">
  <div class="contentEmail">
    <div class="email">
      <label for="email">Email:</label>
      <input type="text" id="email" formControlName="email">
    </div>
    <div class="password">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <p *ngIf="err">Email or password incorrect!</p>

    <div class="btnEmail">
      <button type="submit" [disabled]="formEmail.invalid">Entrar</button>
    </div>

    <p>Ainda não é um Caballeros? <a routerLink="/auth/register">registre-se!</a></p>

  </div>
</form>
